In [8]:
# Import dependencies.
import gmaps
import pandas as pd
import requests

#Import the API key.
from config import g_key

In [9]:
# Store the cities CSV and create a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,2022-10-31 04:20:39,-34.5322,20.0403,55.38,70,100,10.29
1,1,Hamilton,US,2022-10-31 04:18:53,39.1834,-84.5333,61.09,95,100,5.75
2,2,Port Alfred,ZA,2022-10-31 04:20:40,-33.5906,26.8910,56.17,96,88,1.99
3,3,Cape Town,ZA,2022-10-31 04:20:03,-33.9258,18.4232,57.61,57,0,24.16
4,4,Narsaq,GL,2022-10-31 04:20:41,60.9167,-46.0500,21.42,73,61,7.00

In [10]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

### Create a Maximum Temperature Heatmap

In [11]:
# Configure gmaps to use the Google API key.
gmaps.configure(api_key = g_key)

In [35]:
# 1. Assign the locations to an array of latitude and longitude pairs
locations = city_data_df[["Lat","Lng"]]

# 2. Assign the weights variable to some values.
max_temp = city_data_df["Max Temp"]# an array of length equal to the locations array length
#temps = []
#for temp in max_temp:
    #temps.append(max(temp,0))

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(32.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations,
                                    weights=[max(temp,0) for temp in max_temp],
                                    dissipating=False,
                                    max_intensity = 300,
                                    point_radius = 4)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)

# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Humidity Heatmap.

In [36]:
#Heatmap of percent humidity.
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations, weights = humidity,
                                 dissipating = False,
                                 max_intensity = 300,
                                 point_radius = 4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a Cloudiness Heatmap.

In [37]:
#Heatmap of percent cloudiness.
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = clouds,
                                 dissipating = False,
                                 max_intensity = 300,
                                 point_radius = 4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

### Create a WindSpeed Heatmap.

In [38]:
#Heatmap of wind speed. 
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]

fig = gmaps.figure(center = (30.0, 31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = wind,
                                 dissipating = False,
                                 max_intensity = 300,
                                 point_radius = 4)

fig.add_layer(heat_layer)

#Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [40]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

In [44]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]

preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
10,10,Sarankhola,BD,2022-10-31 04:20:45,22.3082,89.7897,81.82,64,1,5.03
12,12,Saint-Joseph,RE,2022-10-31 04:20:46,-21.3667,55.6167,75.58,74,28,11.50
14,14,Georgetown,MY,2022-10-31 04:20:48,5.4112,100.3354,83.23,81,20,5.75
22,22,Hithadhoo,MV,2022-10-31 04:20:55,-0.6000,73.0833,80.13,79,100,11.77
28,28,Kavaratti,IN,2022-10-31 04:21:00,10.5669,72.6420,82.24,68,49,1.54
32,32,Mahebourg,MU,2022-10-31 04:21:03,-20.4081,57.7000,76.24,83,40,11.50
35,35,Doha,QA,2022-10-31 04:19:16,25.2867,51.5333,84.18,69,88,3.44
39,39,Sao Filipe,CV,2022-10-31 04:21:09,14.8961,-24.4956,78.35,77,60,7.18
40,40,Saint-Philippe,RE,2022-10-31 04:21:10,-21.3585,55.7679,76.59,78,43,13.49
42,42,Tabuk,PH,2022-10-31 04:21:12,17.4189,121.4443,83.35,82,70,17.09

In [45]:
preferred_cities_df.count()

City_ID       144
City          144
Country       144
Date          144
Lat           144
Lng           144
Max Temp      144
Humidity      144
Cloudiness    144
Wind Speed    144
dtype: int64

In [46]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
10      Sarankhola      BD     81.82  22.3082   89.7897
12    Saint-Joseph      RE     75.58 -21.3667   55.6167
14      Georgetown      MY     83.23   5.4112  100.3354
22       Hithadhoo      MV     80.13  -0.6000   73.0833
28       Kavaratti      IN     82.24  10.5669   72.6420
32       Mahebourg      MU     76.24 -20.4081   57.7000
35            Doha      QA     84.18  25.2867   51.5333
39      Sao Filipe      CV     78.35  14.8961  -24.4956
40  Saint-Philippe      RE     76.59 -21.3585   55.7679
42           Tabuk      PH     83.35  17.4189  121.4443

### Retrieve hotels from a nearby search using Places API

In [49]:
# Set the parameters to search for a hotel.
params = {
    "radius": 5000,
    "type"  : "lodging",
    "key"   : g_key
}

#Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    
    #Get the lat and lng.
    lat = row["Lat"]
    lng = row["Lng"]
    
    #Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    #Use the search term "lodging" and our coordinates.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Make the request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    #Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [51]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
10,Sarankhola,BD,81.82,22.3082,89.7897,Red Crescent Cyclone Shelter Rashulpur
12,Saint-Joseph,RE,75.58,-21.3667,55.6167,"""Plantation Bed and Breakfast"
14,Georgetown,MY,83.23,5.4112,100.3354,Cititel Penang
22,Hithadhoo,MV,80.13,-0.6000,73.0833,Scoop Guest House
28,Kavaratti,IN,82.24,10.5669,72.6420,Green leaf
32,Mahebourg,MU,76.24,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
35,Doha,QA,84.18,25.2867,51.5333,Mövenpick Doha
39,Sao Filipe,CV,78.35,14.8961,-24.4956,Hotel Xaguate
40,Saint-Philippe,RE,76.59,-21.3585,55.7679,Le four à pain
42,Tabuk,PH,83.35,17.4189,121.4443,Golden Berries Hotel and Convention

### Create a MaxTemp Heatmap from a Hotel DF.

In [58]:
# Create an info box template.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [59]:
# Store the DataFrame Row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [60]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat","Lng"]]
max_temp = hotel_df["Max Temp"]

fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)
heat_layer = gmaps.heatmap_layer(locations,
                                 weights = max_temp,
                                 dissipating = False,
                                 max_intensity = 300,
                                 point_radius = 4)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)

fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))