## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [7]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
path_to_csv = "../Vacation_Search/WeatherPy_vacation.csv"
vacation_df = pd.read_csv(path_to_csv)

vacation_df.head(10)

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,0,Turbat,PK,74.44,light rain,26.0023,63.0440,Mubashar Quarters
1,1,Dakar,SN,76.08,overcast clouds,14.6937,-17.4441,Novotel Dakar
2,2,Arinos,BR,70.84,light rain,-15.9169,-46.1056,casa do bruno
3,4,Vila Velha,BR,69.94,broken clouds,-20.3297,-40.2925,Hotel Vitória Palace
4,5,Hithadhoo,MV,81.43,scattered clouds,-0.6000,73.0833,Scoop Guest House
5,6,Arraial Do Cabo,BR,69.03,scattered clouds,-22.9661,-42.0278,Pousada Porto Praia
6,7,Kavaratti,IN,80.87,clear sky,10.5669,72.6420,Green leaf
7,8,Ribeira Grande,PT,65.77,overcast clouds,38.5167,-28.7000,Quinta da Meia Eira
8,9,Alta Floresta,BR,75.96,scattered clouds,-9.8756,-56.0861,Floresta Amazonica Hotel
9,10,East London,ZA,66.67,overcast clouds,-33.0153,27.9116,Tu Casa

In [8]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [9]:
# 4a. Add a marker layer for each city to the map.
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Tumsar"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Tumsar"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Balod"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Junagarh"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Manthani"]

In [12]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [14]:
# Checking the code. 
start

(21.3833, 79.7333)

In [17]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()

india_roadtrip = gmaps.directions_layer(start, end, 
                                        waypoints = [stop1,stop2, stop3],
                                        travel_mode = "DRIVING")
fig.add_layer(india_roadtrip)

fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Description,Lat,Lng,Hotel Name
0,268,Tumsar,IN,67.50,scattered clouds,21.3833,79.7333,Shiyaswar house
1,221,Balod,IN,68.68,few clouds,20.7300,81.2047,CJM Bunglow
2,118,Junagarh,IN,68.67,clear sky,19.8667,82.9333,Hotel Swagat
3,139,Manthani,IN,70.32,clear sky,18.6500,79.6667,"Sri Sai bike Paint,manthani"

In [20]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City Name</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>

"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [21]:
# 11a. Add a marker layer for each city to the map.
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center = (30.0,31.0), zoom_level = 1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content = hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))